<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.martinmicunda.photo-gallery" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ionic-photo-gallery</name>
    <description>
        A hybrid app with authentication that allows registered users view a gallery of photos they have uploaded via the camera phone.
    </description>
    <author email="martinmicunda@hotmail.com" href="http://martinmicunda.com/">
        Martin Micunda
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="BackupWebStorage" value="none"/>
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true"/>
    </feature>
</widget>
